@import "Vazirmatn-font-face.css";
@import "Vazirmatn-Variable-font-face.css";

.paragraph-rtl{
    text-align: justify;
    direction: rtl;
    font-size: 15px;
    color: #000;
}

html {
    line-height: 1.5;
    font-family: Vazirmatn,-apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
    font-weight: normal;
    color: rgba(0, 0, 0, 0.87);
}
